.row
  .small-11.small-centered.columns
    .icon
  .small-11.small-centered.columns
    .map
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1881.5282234620956!2d-99.17441697367171!3d19.409966927497447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1438713936881", :style => "border:0", :width => "600"}
  .small-11.small-centered.columns
    - @product_servers.each do | product_server |
      .row.product_server
        .medium-3.columns
          = link_to '#', class: 'th', title: product_server[:name] do
            ='link'
        .medium-9.columns
          %strong= product_server[:name]
          %p= product_server[:address]

