// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'foundation'

.full-width
  width: 100%
  max-width: 100%

header
  .logo
    width: 115px
    height: 40px
    overflow: hidden
    margin: 0 auto
    img
      height: 100%
      width: auto
.map 
  position: relative
  height: 300px
  overflow: hidden

.map iframe 
  position: absolute
  top: 0
  left: 0
  width: 100% !important
  height: 100% !important

.blue_banner
  background-color: #2424B2
  position: relative
  height: 140px
  overflow: hidden
  padding: 10px
  color: WHITE

.product_server_name
  color: #000099

.product_server_info
  color: #4C4C4C
  font-weight: normal

.small-block-grid-2
  .product_server_item
    padding-bottom: 25% !important
    background-size: auto 100%
    background-position: center center
    background-repeat: no-repeat
    border: 1px solid #E07300
@media #{$small-only}
  .small-block-grid-2
    .product_server_item
      width: 45%!important
      margin: 2%
@media #{$medium-only}
  .medium-block-grid-3
    .product_server_item
      width: 29%!important
      margin: 2%
@media #{$large-only}
  .large-block-grid-4
    .product_server_item
      width: 23%!important
      margin: 1%
      padding-bottom: 20% !important
