// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.map 
  position: relative
  height: 300px
  overflow: hidden

.map iframe 
  position: absolute
  top: 0
  left: 0
  width: 100% !important
  height: 100% !important

.blue_banner
  background-color: #2424B2
  position: relative
  height: 140px
  overflow: hidden
  padding: 10px
  color: WHITE